<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>UnFlickr</title>
    
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">

    
        {{!-- Typekit --}}
        <script src="//use.typekit.net/xax6bty.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

    </head>
    <body>


        <div id="flash-bar">
           <div class="center">
                
            {{#if messages}}
               <p>{{messages}}</p>
            {{else}}
                {{#if error}}
                    <p>{{error}}</p>
                {{/if}}
            {{/if}}
           </div>
        </div>

        <article id="wrap">

            {{!-- Header --}}
            <header id="header">
                <div class="center">
                    <div class="main-heading">
                        <h1 class="main"><a id="logo" href="/">Unflickr</a></h1>
                        <h2 class="sub-heading">By: Jeremy Hutchcraft</h2>
                    </div>

                    {{> stats this }}



                </div>


                {{#if userName}}

                    <div class="center">
                       
                    </div>

                    <div id="sign-in-wrapper" class="center">
                        <div id="sign-in-bar">
                            <div class="left">
                                <h3 class="welcome-line">Sup, {{userName}}?</h3>
                            </div>
                            <div class="right">
                                
                                {{!-- im logged in  --}}
                                <a href="/signout" class="cta-btn">
                                    <span>Log Out</span>
                                </a>
                            </div>

                            <div class="clear"></div>
                            
                        </div>
                    </div>

                  
                {{else}}

                    <div id="sign-in-wrapper" class="center">
                        <div id="sign-in-bar">
              

                            <a href="/auth/facebook" class="cta-btn sign-in-nav-item"><span>Sign in FB</span></a>
                            <a href="/signin" class="cta-btn sign-in-nav-item"><span>Sign In</span></a>
                            <a href="/signup" class="cta-btn sign-in-nav-item"><span>Sign Up</span></a>

                            <div class="clear"></div>
                            
                        </div>
                    </div>

                {{/if}}
            </header>

            <section id="main">

                <div class="body-wrap">
                    {{{body}}}
                </div>

            </section>



            <footer id="footer">
                <div class="center">
                    
                </div>
            </footer>
            
        </article>




        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/scripts.js"></script>
    </body>
</html>
