<div class="center">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{{ image.title }}</h2>
        </div>
        <div class="panel-body">
            <p>{{ image.description }}</p>
            <div class="col-md-12 text-center">
                <img src="/public/upload/{{image.filename}}" class="img-thumbnail">
            </div>
        </div>

        <div class="bottom-bar">
            
            <div class="like-btn">
                <form class="like-form" action="/images/{{ image.uniqueID }}/like" method="POST" data-id="{{ image.uniqueID }}">
                    <button class="cta-btn">
                        <span><i class="fa fa-heart"> Like</i></span>
                    </button>
                </form>
            </div>

            <div class="info-row">
              <div class="views">
                  <p>
                      <i class="fa fa-eye"></i>{{ image.views }}
                  </p>
              </div>
              <div class="likes">
                  <p>
                      <i class="fa fa-heart"></i><span id="num-likes">{{ image.likes }}</span>
                  </p>
              </div>
              <div class="time">
                  <p>
                      <i class="fa fa-time"></i>{{ timeago image.timestamp }}
                  </p>
              </div>

              <div class="clear"></div>
            </div>

        </div>
    
    </div>
    

    {{#if userName}}
      <div id="comment-form-wrapper">
          <form id="comments-form" method="POST" action="/images/{{ image.uniqueID }}/comment">

              <fieldset>

                  <legend>Comment</legend>

                  <div class="inner">

                      <div class="form-row">
                          <label class="form-label" for="title">
                              Name:
                              <div>
                                  <input class="form-control" type="text" name="name">
                              </div>
                          </label>
                      </div>

                      <div class="form-row">
                          <label class="form-label" for="title">
                              Email:
                              <div>
                                   <input class="form-control" type="text" name="email">
                              </div>
                          </label>
                      </div>

                      <div class="form-row">
                          <label class="form-label" for="description">
                              Comment:
                              <div>
                                  <textarea class="form-control" name="comment" rows="2"></textarea>
                              </div>
                          </label>
                      </div>
                      
                      <div class="sub-row">
                          <button type="submit" id="login-btn" class="cta-btn" type="button">
                              <span>
                                  <i class="fa fa-cloud-upload "></i> 
                                  Post Comment
                              </span>
                          </button>
                      </div>
           
                  </div>{{!-- end inner --}}

              </fieldset>


          </form>

      </div>
      
    {{else}}

      <h2 class="signin-link">Please <a href="/signin">Sign In</a> to upload images or post comments.</h2>

    {{/if}}

    


    <div id="comments-list">
        
        {{#each comments}}

            <div class="a-comment">
                <div class="gravatar">
                    {{#if hashed_email}}
                        <img class="media-object img-circle" src="http://www.gravatar.com/avatar/{{ hashed_email }}">
                    {{else}}
                        <img class="media-object img-circle" src="http://www.gravatar.com/avatar/{{ gravatar }}?d=monsterid&s=45">
                    {{/if}}
                </div>
                <div class="comment-body">
                   <p>
                       {{ comment }}
                   </p>
                   <div class="info-row">
                      <p> {{ name }} - {{ email }} <small class="text-muted">{{ timeago timestamp }}</p>
                   </div>
                </div>

                <div class="clear"></div>
            </div>

        {{/each}}

    </div>


</div>